#uploadStatus {
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    display: none;
}

#uploadStatus.success {
    color: green;
    display: block;
}

#uploadStatus.error {
    color: red;
    display: block;
}

.card {
    border-radius: 10px; /* Rounded corners */
}

.card-header {
    font-size: 1.5em; /* Larger title font */
    padding: 0px;
}